footer{
  background-color: #333332 ;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}
.ftp{
  font-size: 14px;
  word-spacing: 2px;
  line-height: 23px;
}
.p1{
    margin-bottom: 100px;
}
.a0{
  color:skyblue;
  font-size: 16px;
}
.a0:hover{
    text-decoration: none;
    color: gray;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  footer{
    position: relative;
    top: 0px;
  }
 
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  footer{
    position: absolute;
    top: 2860px;
    width: 100%;
  }
   .a0{
    font-size: 10px;
  }.p1{
    margin-bottom: 50px;
}
}
@media only screen and (min-device-width: 360px) and (max-device-width: 900px) {
  footer{
    position: absolute;
    top: 2860px;
    width: 100%;
  }
   .a0{
    font-size: 10px;
  }.p1{
    margin-bottom: 50px;
}
  



}